<h2><%= @task.title %></h2>
<p><%= @task.details %></p>
<%= link_to "Delete #{@task.title}",
task_path(@task),
method: :delete,
data: { confirm: "Are you sure you want to delete this task?" } %>

<h3><%= link_to "Back to list", task_path %></h3>